In [1]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/spark/python (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in /opt/conda/lib/python3.11/site-packages (from pyspark) (0.10.9.7)
Note: you may need to restart the kernel to use updated packages.

In [2]:
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
sc = SparkContext('local')
spark = SparkSession(sc)

In [3]:
from pyspark.sql.functions import col
from pyspark.sql.functions import *

In [23]:
df = spark.read.format("csv")\
    .option("header", "true")\
    .option("inferSchema", "true")\
    .load("work/files/data/population-data/world_population.csv")

In [41]:
df.show(5)

+----+----+-----------------+----------------+---------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+----------+-----------------+-----------+---------------------------+
|Rank|CCA3|Country/Territory|         Capital|Continent|2022 Population|2020 Population|2015 Population|2010 Population|2000 Population|1990 Population|1980 Population|1970 Population|Area (km²)|Density (per km²)|Growth Rate|World Population Percentage|
+----+----+-----------------+----------------+---------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+----------+-----------------+-----------+---------------------------+
|  36| AFG|      Afghanistan|           Kabul|     Asia|       41128771|       38972230|       33753499|       28189672|       19542982|       10694796|       12486631|       10752971|    652230|          63.0587|     1.0257|                       0.52|
| 138| ALB|          Albania|          Tirana|   Europe|        2842321|        2866849|        2882481|        2913399|        3182021|        3295066|        2941651|        2324731|     28748|          98.8702|     0.9957|                       0.04|
|  34| DZA|          Algeria|         Algiers|   Africa|       44903225|       43451666|       39543154|       35856344|       30774621|       25518074|       18739378|       13795915|   2381741|          18.8531|     1.0164|                       0.56|
| 213| ASM|   American Samoa|       Pago Pago|  Oceania|          44273|          46189|          51368|          54849|          58230|          47818|          32886|          27075|       199|         222.4774|     0.9831|                        0.0|
| 203| AND|          Andorra|Andorra la Vella|   Europe|          79824|          77700|          71746|          71519|          66097|          53569|          35611|          19860|       468|         170.5641|       1.01|                        0.0|
+----+----+-----------------+----------------+---------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+----------+-----------------+-----------+---------------------------+
only showing top 5 rows

In [24]:
df.printSchema()

root
 |-- Rank: integer (nullable = true)
 |-- CCA3: string (nullable = true)
 |-- Country/Territory: string (nullable = true)
 |-- Capital: string (nullable = true)
 |-- Continent: string (nullable = true)
 |-- 2022 Population: integer (nullable = true)
 |-- 2020 Population: integer (nullable = true)
 |-- 2015 Population: integer (nullable = true)
 |-- 2010 Population: integer (nullable = true)
 |-- 2000 Population: integer (nullable = true)
 |-- 1990 Population: integer (nullable = true)
 |-- 1980 Population: integer (nullable = true)
 |-- 1970 Population: integer (nullable = true)
 |-- Area (km²): integer (nullable = true)
 |-- Density (per km²): double (nullable = true)
 |-- Growth Rate: double (nullable = true)
 |-- World Population Percentage: double (nullable = true)

In [25]:
df.count()

234

In [27]:
df.select("2015 Population").show(5)

+---------------+
|2015 Population|
+---------------+
|       33753499|
|        2882481|
|       39543154|
|          51368|
|          71746|
+---------------+
only showing top 5 rows

In [28]:
df.select("Rank").show(5)

+----+
|Rank|
+----+
|  36|
| 138|
|  34|
| 213|
| 203|
+----+
only showing top 5 rows

In [29]:
df.select(max(col("Rank"))).show(5)

+---------+
|max(Rank)|
+---------+
|      234|
+---------+

In [30]:
df.select(min(col("Rank"))).show(5)

+---------+
|min(Rank)|
+---------+
|        1|
+---------+

In [31]:

df.where("Rank = 198").show()

+----+----+-----------------+----------+-------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+----------+-----------------+-----------+---------------------------+
|Rank|CCA3|Country/Territory|   Capital|    Continent|2022 Population|2020 Population|2015 Population|2010 Population|2000 Population|1990 Population|1980 Population|1970 Population|Area (km²)|Density (per km²)|Growth Rate|World Population Percentage|
+----+----+-----------------+----------+-------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+----------+-----------------+-----------+---------------------------+
| 198| ABW|            Aruba|Oranjestad|North America|         106445|         106585|         104257|         100341|          89101|          65712|          62267|          59106|       180|         591.3611|     0.9991|                        0.0|
+----+----+-----------------+----------+-------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+----------+-----------------+-----------+---------------------------+

In [33]:
df.where("Rank = 1").show()

+----+----+-----------------+-------+---------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+----------+-----------------+-----------+---------------------------+
|Rank|CCA3|Country/Territory|Capital|Continent|2022 Population|2020 Population|2015 Population|2010 Population|2000 Population|1990 Population|1980 Population|1970 Population|Area (km²)|Density (per km²)|Growth Rate|World Population Percentage|
+----+----+-----------------+-------+---------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+----------+-----------------+-----------+---------------------------+
|   1| CHN|            China|Beijing|     Asia|     1425887337|     1424929781|     1393715448|     1348191368|     1264099069|     1153704252|      982372466|      822534450|   9706961|         146.8933|        1.0|                      17.88|
+----+----+-----------------+-------+---------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+----------+-----------------+-----------+---------------------------+

In [34]:
df.where("Rank > 100").show(5)

+----+----+-------------------+----------------+-------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+----------+-----------------+-----------+---------------------------+
|Rank|CCA3|  Country/Territory|         Capital|    Continent|2022 Population|2020 Population|2015 Population|2010 Population|2000 Population|1990 Population|1980 Population|1970 Population|Area (km²)|Density (per km²)|Growth Rate|World Population Percentage|
+----+----+-------------------+----------------+-------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+----------+-----------------+-----------+---------------------------+
| 138| ALB|            Albania|          Tirana|       Europe|        2842321|        2866849|        2882481|        2913399|        3182021|        3295066|        2941651|        2324731|     28748|          98.8702|     0.9957|                       0.04|
| 213| ASM|     American Samoa|       Pago Pago|      Oceania|          44273|          46189|          51368|          54849|          58230|          47818|          32886|          27075|       199|         222.4774|     0.9831|                        0.0|
| 203| AND|            Andorra|Andorra la Vella|       Europe|          79824|          77700|          71746|          71519|          66097|          53569|          35611|          19860|       468|         170.5641|       1.01|                        0.0|
| 224| AIA|           Anguilla|      The Valley|North America|          15857|          15585|          14525|          13172|          11047|           8316|           6560|           6283|        91|         174.2527|     1.0066|                        0.0|
| 201| ATG|Antigua and Barbuda|    Saint John’s|North America|          93763|          92664|          89941|          85695|          75055|          63328|          64888|          64516|       442|         212.1335|     1.0058|                        0.0|
+----+----+-------------------+----------------+-------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+----------+-----------------+-----------+---------------------------+
only showing top 5 rows

In [35]:
df.where("Rank < 100").show(5)

+----+----+-----------------+------------+-------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+----------+-----------------+-----------+---------------------------+
|Rank|CCA3|Country/Territory|     Capital|    Continent|2022 Population|2020 Population|2015 Population|2010 Population|2000 Population|1990 Population|1980 Population|1970 Population|Area (km²)|Density (per km²)|Growth Rate|World Population Percentage|
+----+----+-----------------+------------+-------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+----------+-----------------+-----------+---------------------------+
|  36| AFG|      Afghanistan|       Kabul|         Asia|       41128771|       38972230|       33753499|       28189672|       19542982|       10694796|       12486631|       10752971|    652230|          63.0587|     1.0257|                       0.52|
|  34| DZA|          Algeria|     Algiers|       Africa|       44903225|       43451666|       39543154|       35856344|       30774621|       25518074|       18739378|       13795915|   2381741|          18.8531|     1.0164|                       0.56|
|  42| AGO|           Angola|      Luanda|       Africa|       35588987|       33428485|       28127721|       23364185|       16394062|       11828638|        8330047|        6029700|   1246700|          28.5466|     1.0315|                       0.45|
|  33| ARG|        Argentina|Buenos Aires|South America|       45510318|       45036032|       43257065|       41100123|       37070774|       32637657|       28024803|       23842803|   2780400|          16.3683|     1.0052|                       0.57|
|  55| AUS|        Australia|    Canberra|      Oceania|       26177413|       25670051|       23820236|       22019168|       19017963|       17048003|       14706322|       12595034|   7692024|           3.4032|     1.0099|                       0.33|
+----+----+-----------------+------------+-------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+----------+-----------------+-----------+---------------------------+
only showing top 5 rows

In [36]:
df.createOrReplaceTempView("population_table")

In [37]:
spark.sql("SELECT * FROM population_table").show(5)

+----+----+-----------------+----------------+---------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+----------+-----------------+-----------+---------------------------+
|Rank|CCA3|Country/Territory|         Capital|Continent|2022 Population|2020 Population|2015 Population|2010 Population|2000 Population|1990 Population|1980 Population|1970 Population|Area (km²)|Density (per km²)|Growth Rate|World Population Percentage|
+----+----+-----------------+----------------+---------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+----------+-----------------+-----------+---------------------------+
|  36| AFG|      Afghanistan|           Kabul|     Asia|       41128771|       38972230|       33753499|       28189672|       19542982|       10694796|       12486631|       10752971|    652230|          63.0587|     1.0257|                       0.52|
| 138| ALB|          Albania|          Tirana|   Europe|        2842321|        2866849|        2882481|        2913399|        3182021|        3295066|        2941651|        2324731|     28748|          98.8702|     0.9957|                       0.04|
|  34| DZA|          Algeria|         Algiers|   Africa|       44903225|       43451666|       39543154|       35856344|       30774621|       25518074|       18739378|       13795915|   2381741|          18.8531|     1.0164|                       0.56|
| 213| ASM|   American Samoa|       Pago Pago|  Oceania|          44273|          46189|          51368|          54849|          58230|          47818|          32886|          27075|       199|         222.4774|     0.9831|                        0.0|
| 203| AND|          Andorra|Andorra la Vella|   Europe|          79824|          77700|          71746|          71519|          66097|          53569|          35611|          19860|       468|         170.5641|       1.01|                        0.0|
+----+----+-----------------+----------------+---------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+----------+-----------------+-----------+---------------------------+
only showing top 5 rows

In [43]:
spark.sql("""SELECT 
                `Country/Territory`,
                SUM(`2022 Population`) sum_population
          FROM population_table
          GROUP BY `Country/Territory`
          """).where("sum_population > 100000").show()

+-----------------+--------------+
|Country/Territory|sum_population|
+-----------------+--------------+
|             Chad|      17723315|
|         Paraguay|       6780744|
|           Russia|     144713314|
|            Yemen|      33696614|
|          Senegal|      17316449|
|           Sweden|      10549347|
|         Kiribati|        131232|
|           Guyana|        808726|
|          Eritrea|       3684032|
|           Jersey|        110778|
|      Philippines|     115559009|
|         Djibouti|       1120849|
|            Tonga|        106858|
|         Malaysia|      33938221|
|        Singapore|       5975689|
|             Fiji|        929766|
|           Turkey|      85341241|
|           Malawi|      20405317|
|   Western Sahara|        575986|
|             Iraq|      44496122|
+-----------------+--------------+
only showing top 20 rows

In [45]:

df.withColumn("population_increase", col("2022 Population") * 0.1)\
    .select("Country/Territory", "2022 Population", "population_increase")\
    .withColumn("new_population", col("2022 Population") + col("population_increase"))\
    .orderBy(col("new_population").desc())\
    .show(10)

+-----------------+---------------+--------------------+--------------+
|Country/Territory|2022 Population| population_increase|new_population|
+-----------------+---------------+--------------------+--------------+
|            China|     1425887337|1.4258873370000002E8|1.5684760707E9|
|            India|     1417173173|       1.417173173E8|1.5588904903E9|
|    United States|      338289857|        3.38289857E7| 3.721188427E8|
|        Indonesia|      275501339|2.7550133900000002E7| 3.030514729E8|
|         Pakistan|      235824862|2.3582486200000003E7| 2.594073482E8|
|          Nigeria|      218541212|2.1854121200000003E7| 2.403953332E8|
|           Brazil|      215313498|        2.15313498E7| 2.368448478E8|
|       Bangladesh|      171186372|        1.71186372E7| 1.883050092E8|
|           Russia|      144713314|        1.44713314E7| 1.591846454E8|
|           Mexico|      127504125|        1.27504125E7| 1.402545375E8|
+-----------------+---------------+--------------------+--------------+
only showing top 10 rows

In [50]:
df.write.mode("overwrite").partitionBy("Capital").save("work/files/data/population-data/output.csv")